<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="page_header">
        <h1>Create Project</h1>
    </div>
    <div class="form_details">
        <form action="#" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br><br>

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>

        add user wala bhi aiga<br><br>

        <input type="submit" value="Create">
        </form>
    </div>
  </body>
</html>